{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <form method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header text-center">
                    {% if user.is_authenticated %}
                    Редактирование профиля
                    {% else %}
                    Регистрация нового пользователя
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-outline-primary">
                        Сохранить
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-2">
    </div>
</div>
{% endblock %}