{% extends 'base.html' %}
{% block content %}
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">{{ product.name }}</h3>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">{{ product.price }} руб.</h3>
                    <div class="row text-center">{{ product.description }}
                    </div>
                    <a class="btn btn-primary" href="{% url 'catalog:one_product' product.pk %}" role="button">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}