{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'catalog:product_list' %}">Назад</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{ object.name }}</h1>
                    <img src="{{ object.image | media_filter }}" class="rounded" width="250" height="180">
                    <p class="card-text">{{ object.description }}</p>
                    <h5 class="card-title pricing-card-title">{{ object.price }} руб.</h5>
                    <a href="#" class="btn btn-primary">КУПИТЬ!</a>
                </div>
            </div>
            <div class="text-center">
                <nav aria-label="...">
                    <ul class="pagination me-2 px-3 py-3 pt-md-5 pb-md-4 mx-auto">
                        <li class="page-item disabled">
                            <a class="page-link">Предыдущее</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Следующая</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

{% endblock %}